.dart_tool/
.packages
.pub/
build/
coverage/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.idea/
.vscode/
*.iml
android/.gradle/
android/local.properties
android/key.properties
android/app/debug/
android/app/profile/
android/app/release/
assets/models/vosk-model-small-hi-0.22.zip
assets/models/vosk-model-small-hi-0.22.zip.part
